* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: 700;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
}

#waybar > box {
  background-color: rgb(30, 30, 46);
  margin: 8px 16px 8px 16px;
  border: 1px solid #45475a;
  padding: 0 8px;
  box-shadow: 0px 0px 4px 2px rgba(30, 30, 30, 0.95);
}

tooltip {
  opacity: 0.9;
  border: 2px solid rgba(49, 50, 68, 0.9);
  background: #181825;
}

tooltip label {
  color: #cdd6f4;
}

#idle_inhibitor,
#custom-wallpaper,
#custom-power,
#custom-picker,
#custom-screenshot {
  padding: 2px 6px;
  margin: 6px 2px;
  background-color: transparent;
}

#custom-wallpaper {
  color: #f5c2e7;
}

#custom-screenshot {
  color: #f5c2e7;
}

#custom-picker {
  color: #f5e0dc;
}

#workspaces button {
  padding: 0 3px;
  color: #cdd6f4;
}

#workspaces button.empty {
  color: #9399b2;
}

#workspaces button.visible {
  color: #89b4fa;
}

#workspaces button.active {
  color: #a6e3a1;
}

#workspaces button.focused {
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#idle_inhibitor.activated {
  color: #eba0ac;
}

#idle_inhibitor.deactivated {
  color: #585b70;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#workspaces,
#window {
  margin: 6px 4px;
}

#workspaces {
  border: 1px solid #9399b2;
  border-radius: 20px;
  background-color: #313244;
}

#window {
  color: #b4befe;
}

window#waybar.empty #window {
  background-color: transparent;
}

#clock {
  color: #89b4fa;
}

#cpu {
  color: #cba6f7;
}

#memory {
  color: #89dceb;
}

#network {
  color: #fab387;
}

#network.disconnected {
  color: #f38ba8;
}

#pulseaudio {
  color: #a6e3a1;
}

#pulseaudio.muted {
  color: #f38ba8;
}

#tray {
  padding: 0px 8px;
  margin-right: 4px;
  border-left: 1px solid #45475a;
  border-right: 1px solid #45475a;
}
