/* @import "mocha.css"; */

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono Nerd Font Propo";
  font-size: 14px;
  font-weight: 600;
  min-height: 0;
}

window#waybar {
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#clock,
#network,
#pulseaudio,
#tray,
#custom-wallpaper,
#idle_inhibitor {
  padding: 0 10px;
  margin: 0 2px;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

#workspaces button {
  padding: 0 10px;
  background-color: transparent;
  color: #89b4fa;
  margin: 0;
}
#workspaces button:hover {
  background: #313244;
  box-shadow: inherit;
}

#workspaces button.focused {
  box-shadow: inset 0 -2px #fab387;
  color: #fab387;
  font-weight: 900;
}

#workspaces button.urgent {
  background-color: #a6e3a1;
  color: #1e1e2e;
}

#clock {
  color: #74c7ec;
  border-bottom-color: #74c7ec;
}

#pulseaudio {
  color: #a6e3a1;
  border-bottom-color: #a6e3a1;
}

#pulseaudio.muted {
  color: #f38ba8;
  border-bottom-color: #f38ba8;
}

#network {
  color: #fab387;
  border-bottom-color: #fab387;
}
#network.disconnected {
  color: #f38ba8;
  border-bottom-color: #f38ba8;
}

#tray {
  background-color: transparent;
  padding: 0 10px;
  margin: 0 2px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  color: #f38ba8;
  border-bottom-color: #f38ba8;
}

#idle_inhibitor.deactivated {
  color: #a6e3a1;
  border-bottom-color: #a6e3a1;
  background-color: transparent;
}
#idle_inhibitor.activated {
  color: #313244;
  border-bottom-color: #f38ba8;
  background-color: #f38ba8;
}
#custom-wallpaper {
  color: #cba6f7;
  border-bottom-color: #cba6f7;
}
