* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono Nerd Font Propo";
  font-size: 14px;
  font-weight: 700;
  min-height: 0;
}

window#waybar {
  background-color: rgba(30, 30, 46, 0.9);
  color: #cdd6f4;
  border-color: #45475a;
  border-style: solid;
  border-width: 1px;
}

#clock,
#network,
#pulseaudio,
#tray,
#custom-wallpaper,
#idle_inhibitor {
  padding: 0 10px;
  margin: 0 2px;
  background-color: transparent;
}

#workspaces {
  padding: 2px 6px;
  margin: 6px 8px;
  border: 1px solid #9399b2;
  border-radius: 20px;
  background-color: #313244;
}

#workspaces button {
  padding: 0 3px;
  color: #cdd6f4;
}

#workspaces button.empty {
  color: #9399b2;
}

#workspaces button.visible {
  color: #89b4fa;
}

#workspaces button.active {
  color: #a6e3a1;
}

#workspaces button.urgent {
  color: #f38ba8;
}

#clock {
  color: #74c7ec;
}

#pulseaudio {
  color: #a6e3a1;
}

#pulseaudio.muted {
  color: #f38ba8;
}

#network {
  color: #fab387;
}
#network.disconnected {
  color: #f38ba8;
}

#tray {
  background-color: transparent;
  padding: 0 10px;
  margin: 6px 2px;
  /* border-bottom: 4px solid #585b70; */
  border-left: 1px solid #585b70;
  border-right: 1px solid #585b70;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  color: #f38ba8;
  border-bottom-color: #f38ba8;
}

#idle_inhibitor.deactivated {
  color: #a6e3a1;
  background-color: transparent;
}
#idle_inhibitor.activated {
  color: #313244;
  background-color: #f38ba8;
}
#custom-wallpaper {
  color: #cba6f7;
}
