@import "frappe.css";
* {
  /* font-family: "JetBrainsMono Nerd Font", "Maple Mono SC NF"; */
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
  border: none;
}

window#waybar {
  background-color: transparent;
  color: @text;
}

tooltip {
  background: @mantle;
  opacity: 0.8;
  border: 2px solid alpha(@surface0, 0.9);
}

tooltip label {
  color: #cdd6f4;
}

#workspaces,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#submap,
#idle_inhibitor {
  background: @base;
  border-radius: 16px;
  margin: 4px 4px 0px 4px;
  padding: 2px 16px 2px 16px;
}

#workspaces button {
  color: @text;
  background-color: transparent;
  padding: 0px 5px;
}

#workspaces button.active {
  color: @peach;
  background-color: transparent;
}

#workspaces button.focused {
  color: @maroon;
  background-color: transparent;
}

#workspaces button.urgent {
  color: @green;
  background-color: transparent;
}

#workspaces button:hover {
  color: @blue;
  background-color: transparent;
}
#idle_inhibitor.activated {
  color: @red;
}
#idle_inhibitor.deactivated {
  color: @green;
}
#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#submap {
  color: @peach;
  background-color: transparent;
}

#clock {
  color: @blue;
}

#cpu {
  color: @mauve;
  border-radius: 16px 0px 0px 16px;
  margin-right: 0px;
}

#memory {
  color: @teal;
  border-radius: 0px 16px 16px 0px;
  margin-left: 0px;
  padding-left: 0px;
}

#network {
  color: @peach;
}

#network.disconnected {
  background-color: @red;
  color: @mantle;
}
#pulseaudio {
  color: @green;
}

#pulseaudio.muted {
  /* background-color: #90b1b1; */
  color: @yellow;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  /* background-color: #f53c3c; */
}

#custom-media {
  /* background-color: #66cc99; */
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  /* background-color: #66cc99; */
}

#custom-media.custom-vlc {
  /* background-color: #ffa000; */
}

#temperature {
  /* background-color: #f0932b; */
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  padding-left: 0;
  color: @flamingo;
}

#temperature.critical {
  /* background-color: #eb4d4b; */
  color: @red;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: @red;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  /* background: #00b093; */
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  /* background: #97e1ad; */
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}
