@import "frappe.css";
* {
  font-family:
    JetBrains Mono,
    monospace;
  font-weight: 700;
  font-size: 14px;
}

window#waybar {
  background: linear-gradient(@base, @mantle);
  border: 2px solid @surface2;
  opacity: 0.9;
}

box {
  padding: 0 6px;
}

tooltip {
  background: @mantle;
  opacity: 0.8;
  border: 2px solid alpha(@surface0, 0.9);
}

tooltip label {
  color: @text;
}

#idle_inhibitor,
#custom-applications,
#custom-power,
#custom-wallpaper {
  padding: 0 6px;
}

#custom-split {
  margin: 0 10px;
  color: @surface1;
}
#custom-applications {
  color: @blue;
}

#custom-wallpaper {
  color: @pink;
}

#custom-power {
  color: @red;
}

#window {
  color: @teal;
}

#mpris {
  color: @rosewater;
}

#workspaces {
  padding: 0;
  border-width: 0;
}

#workspaces button {
  padding: 0;
  border-radius: 0;
  color: @text;
}

#workspaces button.empty {
  color: @overlay0;
}
#workspaces button.visible {
  color: @blue;
}
#workspaces button.active {
  color: @green;
}
#workspaces button.focused {
}

#workspaces button.urgent {
  background-color: @red;
}

#workspaces button:hover {
}

#idle_inhibitor {
  /* margin-left: 10px; */
}
#idle_inhibitor.activated {
  color: @maroon;
}
#idle_inhibitor.deactivated {
  color: @surface2;
}
#mode {
  background-color: @base;
}

#submap {
  color: @peach;
}

#clock {
  color: @blue;
}

#cpu {
  color: @mauve;
  margin-right: 8px;
}
#disk {
  color: @flamingo;
}

#memory {
  color: @sky;
  margin-right: 8px;
}

#network {
  color: @peach;
}

#network.disconnected {
  color: @red;
}
#pulseaudio {
  color: @green;
}

#pulseaudio.muted {
  color: @maroon;
}

#temperature {
  color: @pink;
}

#temperature.critical {
  color: @red;
}
