@import "frappe.css";
* {
  font-family:
    JetBrains Mono,
    Noto Sans CJK,
    monospace;
  font-weight: bold;
  font-size: 14px;
}

window#waybar {
  /* background-color: alpha(@base, 0.8); */
  background: transparent;
}

tooltip {
  background: @mantle;
  opacity: 0.8;
  border: 2px solid alpha(@surface0, 0.9);
}

tooltip label {
  color: @text;
}

#workspaces,
#clock,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,
#mode,
#submap,
#idle_inhibitor,
#mpris {
  color: @surface0;
  border-radius: 6px;
  margin: 0px 4px 0px 4px;
  padding: 2px 16px 2px 16px;
  border-bottom-style: solid;
  border-bottom-width: 6px;
}

#tray {
  background-color: @base;
  border-bottom-color: shade(@base, 0.7);
}

#mpris {
  background-color: @rosewater;
  border-bottom-color: shade(@rosewater, 0.7);
}

#workspaces {
  padding: 0;
  border-width: 0px;
}

#workspaces button {
  color: @surface0;
  padding: 0px 0.5em;
  margin: 0;
  border-radius: 0;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  background: @lavender;
  border-bottom-color: shade(@lavender, 0.7);
}

#workspaces button:first-child {
  border-radius: 6px 0 0 6px;
}
#workspaces button:last-child {
  border-radius: 0 6px 6px 0;
}
#workspaces button:only-child {
  border-radius: 6px;
}

#workspaces button.active {
  background-color: @mauve;
  border-bottom-color: shade(@mauve, 0.7);
}

#workspaces button.focused {
  background-color: @sky;
  border-bottom-color: shade(@sky, 0.7);
}

#workspaces button.urgent {
  background-color: @green;
  border-bottom-color: shade(@green, 0.7);
}

#workspaces button:hover {
  background-color: @sky;
  border-bottom-color: shade(@sky, 0.7);
}

#idle_inhibitor.activated {
  background-color: @maroon;
  border-bottom-color: shade(@maroon, 0.7);
}
#idle_inhibitor.deactivated {
  background-color: @green;
  border-bottom-color: shade(@green, 0.7);
}
#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#submap {
  background-color: @peach;
  border-bottom-color: shade(@peach, 0.7);
}

#clock {
  background-color: @blue;
  border-bottom-color: shade(@blue, 0.7);
}

#cpu {
  background-color: @mauve;
  border-bottom-color: shade(@mauve, 0.7);
  border-radius: 4px 0px 0px 4px;
  margin-right: 0px;
}

#memory {
  background-color: @sky;
  border-bottom-color: shade(@sky, 0.7);
  border-radius: 0px 4px 4px 0px;
  margin-left: 0px;
}

#network {
  background-color: @peach;
  border-bottom-color: shade(@peach, 0.7);
}

#network.disconnected {
  background-color: @red;
  border-bottom-color: shade(@red, 0.7);
}
#pulseaudio {
  background-color: @green;
  border-bottom-color: shade(@green, 0.7);
}

#pulseaudio.muted {
  background-color: @maroon;
  border-bottom-color: shade(@maroon, 0.7);
}

#temperature {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  background-color: @pink;
  border-bottom-color: shade(@pink, 0.7);
}

#temperature.critical {
  background-color: @red;
  border-bottom-color: shade(@red, 0.7);
}
