@import "mocha.css";

* {
  font-family: monospace;
  font-weight: 700;
  font-size: 14px;
}

window#waybar {
  /* background-color: alpha(@mantle, 0.75); */
  /* border: 1px solid @overlay0; */
  /* border-radius: 6px; */
  background-color: transparent;
}

#waybar > box {
  padding: 0 4px;
}

tooltip {
  opacity: 0.9;
  border: 2px solid alpha(@surface0, 0.9);
  background: @mantle;
}

tooltip label {
  color: @text;
}

#idle_inhibitor,
#custom-power,
#custom-picker,
#custom-screenshot {
  border-radius: 6px;
  padding: 2px 6px;
  margin: 6px 2px;
  border: 1px solid @lavender;
  color: @base;
  background-color: @base;
}

#custom-screenshot {
  color: @pink;
}

#custom-picker {
  color: @rosewater;
}

#custom-power {
  color: @red;
}

#workspaces button {
  padding: 0 3px;
  border-radius: 0;
  color: @text;
}

#workspaces button.empty {
  color: @text;
}

#workspaces button.visible {
  color: @blue;
}

#workspaces button.active {
  color: @green;
}

#workspaces button.focused {
}

#workspaces button.urgent {
  background-color: @red;
}

#idle_inhibitor {
  /* margin-left: 10px; */
}

#idle_inhibitor.activated {
  color: @maroon;
}

#idle_inhibitor.deactivated {
  color: @surface2;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#workspaces,
#tray {
  border-radius: 6px;
  padding: 2px 6px;
  margin: 6px 2px;
  border-width: 1px;
  border-style: solid;
  color: @base;
  background-color: @base;
}

#tray {
  border-color: @overlay1;
}

#workspaces {
  border-color: @text;
}

#clock {
  border-color: @blue;
  color: @blue;
}

#cpu {
  border-color: @mauve;
  color: @mauve;
}

#memory {
  border-color: @sky;
  color: @sky;
}

#network {
  color: @peach;
}

#network.disconnected {
  color: @red;
}

#pulseaudio {
  border-color: @green;
  color: @green;
}

#pulseaudio.muted {
  border-color: @red;
  color: @red;
}
