* {
  font-family: "JetBrainsMono Nerd Font";
  min-height: 0;
  font-size: 100%;
  padding: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
}

#window {
  background-color: rgba(48, 52, 70, 1);
}

#outer-box {
  padding: 10px;
}

#input {
  background-color: rgba(48, 52, 70, 0.8);
  border: 1px solid #737994;
  padding: 4px 6px;
  color: #c6d0f5;
}
#input:focus {
  border: 1px solid #ef9f76;
}

#scroll {
  margin-top: 10px;
  margin-bottom: 10px;
}

#inner-box {
  /* border-radius: 8px; */
}

#img {
  padding-right: 5px;
}

#text {
  color: #c6d0f5;
}

#text:selected {
  color: #303446;
  background: transparent;
}

#entry {
  padding: 3px;
  border-radius: 0;
}

#entry:selected {
  background-color: #ef9f76;
}

#unselected {
}

#selected {
}
